@font-face {
   font-family: "Commit Mono";
   src: url('/CommitMono.woff2');
}

* { font-family: 'Commit Mono', 'Ubuntu Mono', 'Roboto Mono' , monospace; }


.quote-container {
   width: 100%;
   display: flex;
   justify-content: center;
}

#quote {
   font-style: italic;
   font-size: 0.7rem;
   

}

