// @font-face {
//    font-family: "Commit Mono";
//    src: url('/CommitMono.woff2');
// }

// * { font-family: 'Commit Mono', 'Ubuntu Mono', 'Roboto Mono' , monospace; }


* {
   font-family:  ui-monospace, 
             "Commit Mono",
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
    }

.quote-container {
   width: 100%;
   display: flex;
   justify-content: center;
}

#quote {
   font-style: italic;
   font-size: 0.7rem;
}

