:root {

  --content-width: min(90ch, 100% - 2rem);
  --bg-light: #f9f5d7;
  --text-light: #3c3836;
  --link-light: #076678;
  --link-visited-light: #8f3f71;

  --text-color: var(--text-light);
  --bg-color: var(--bg-light);
  --link-color: var(--link-light);
  --link-visited-color: var(--link-visited-light);

}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

a,
.link-styled {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: var(--link-visited-color);

}



header.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.site-title-container,
.quote-container {
  width: 100%;
}

.top-nav-container {
  text-align: center;
  width: 100%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;

}



nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}



nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  padding-right: 2%;
  padding-left: 2%;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}


.footnote-definition,
.footnote-reference {
  vertical-align: baseline;
  position: relative;
  bottom: 0em;
  font-size: 1em;
  margin-top: 1em;
}

.footnote-definition {
  margin-left: 8%;
  margin-right: 8%;

}

.footnote-definition li {

  margin-left: 8%;
}

.footnote-definition sup:before,
.footnote-reference:before {
  content: "[";
}

.footnote-definition sup:after,
.footnote-reference:after {
  content: "]";
}

div.footnote-definition>* {
  display: inline;
  padding: 1%;
}

main {
  max-width: var(--content-width);
  margin-inline: auto;
  /* width: 60%; */
}