/* @import "reset.min.css"; */


/* reset  */

* {
  margin: 0;
  padding: 0;
}

/*** Page-wide values  */

:root {

  --content-width: min(120ch, 100% - 2rem);
  /* light mode colors */
  --bg-light: #f9f5d7;
  --text-light: #3c3836;
  --link-light: #076678;
  --link-visited-light: #8f3f71;

  /*dark mode colors*/
  --text-dark: #ebdbb2;
  --bg-dark: #282828;
  --link-dark: #83a598;
  --link-visited-dark: #d3869b;


  /* default is light mode */
  --text-color: var(--text-light);
  --bg-color: var(--bg-light);
  --link-color: var(--link-light);
  --link-visited-color: var(--link-visited-light);

}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-dark);
    --bg-color: var(--bg-dark);
    --link-color: var(--link-dark);
    --link-visited-color: var(--link-visited-dark);
  }

  pre code {
    border: 1px solid var(--text-color);

  }

}

body {
  /* font-family: "courier new", monospace; */
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

pre {
  font-family: 'Courier New', Courier, monospace;
}

li+li {
  margin-top: 10px;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);

}





/*** The top site-wide header and splash text*/

header.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.site-title-container,
.quote-container {
  width: 100%;
}

.site-title {
  margin: 0 0 0.5rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.dynamic-quote {
  margin: 0;
  font-size: 1.2rem;
  color: #666;
  font-style: italic;
}

.top-nav-container {
  text-align: center;
  width: 100%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;

}

header.title-container>* {
  margin-top: 1em;
}

nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.site-title {
  margin-bottom: 1%;
  margin-top: 3%;
}

/*** Main landing page */
section#recent-posts .post-preview {
  margin-top: 1.5em;
}


/*** Content styles */

img,
svg,
video {
  max-width: min(70ch, 100% - 2rem);
  display: block;
  margin: auto;

}

img {
  max-height: 780px;

}

p,
dd,
dt {
  font-size: 1em;
  line-height: 1.3;
  text-indent: 15px;
}

article time {
  font-style: italic;

}

span.tag-link {
  font-style: italic;

}



main ul,
main ol {
  max-width: 85%;
  padding-inline-start: 10%;

}

main header * {
  line-height: 1.7em;
}


p+p {
  margin-top: 1.2em;
}

.post-header h1 {
  font-size: revert;

}


header {
  margin-bottom: 2em;

}

header * {
  margin: auto;
}

h3.post-title {
  font-size: 1.3em;
}

nav ul {
  list-style-type: none;



}

nav ul li {
  display: inline;
  padding-right: 2%;
  padding-left: 2%;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

main h1 {
  font-size: 1.5em;
}

main h2 {
  font-size: 1.3em;
}

main h3 {
  font-size: 1.1em;
}

.footnote-definition,
.footnote-reference {
  vertical-align: baseline;
  position: relative;
  bottom: 0em;
  font-size: .8em;
  margin-top: 1em;
}

.footnote-definition {
  margin-left: 8%;
  margin-right: 8%;

}

.footnote-definition li {

  margin-left: 8%;
}

.footnote-definition sup:before,
.footnote-reference:before {
  content: "[";
}

.footnote-definition sup:after,
.footnote-reference:after {
  content: "]";
}

div.footnote-definition>* {
  display: inline;
  padding: 1%;
}


main h4 {
  font-size: 1.4em;
}

hr {
  all: revert;
  margin: auto;
  width: 60%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

article *+hr {
  margin-top: 4rem;
}

article hr+* {
  margin-top: 4rem;
}



main {
  max-width: var(--content-width);
  margin-inline: auto;
  /* width: 60%; */
}

blockquote {
  padding: 1.2em 30px 1.2em 30px;
  border-left: 3px solid slategray;
  position: relative;
  /* background:#EDEDED; */
}

blockquote p {
  all: revert;
  line-height: 1em;
  font-size: .9em;

}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

code {
  border: 1px solid black;
  background-color: #9a999666;
}

pre code {
  border: inherit;
  background-color: inherit;
}

em {
  font-weight: normal;
  font-style: italic;
}

/* a { */
/*   color: revert; */
/* } */

a.site-title-link {
  color: inherit;
}

a.site-title-link:hover {
  text-decoration: underline;
}

div.all-posts-footer-container {
  width: 100%;
  text-align: center;
}

a.all-posts-footer {
  margin: auto;
}

table {
  margin: auto;
}

dt {
  margin-bottom: 1em;
}

dd+dt {
  margin-top: 5%;
}


p {
  font-size: 1.2em;
  line-height: 1.3;

}


p+*,
*+p {
  margin-top: 1%;

}


/*** from the Zola docs*/

pre {
  padding: 1rem;
  overflow: auto;
}

/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

/* The line number cells */
pre table td:nth-of-type(1) {
  text-align: center;
  vertical-align: top;
  user-select: none;
}

pre mark {
  /* If you want your highlights to take the full width */
  display: block;
  /* The default background colour of a mark is bright yellow */
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

/* end Zola content*/

/* small screens */
@media (max-width: 768px) {


  .dynamic-quote {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: .8em;
  }

  .site-title {
    font-size: 1.8rem;
  }

  nav ul li {
    display: revert;
  }


}