/*
* This CSS takes inspiration from:
*   - https://erikarow.land/
*    - https://soap.coffee/~lthms/
*    - The gruvbox color palette (https://github.com/morhetz/gruvbox)
*/
:root {
  /*gruvbox colors*/
  --gvb-background: #282828;
  --gvb-foreground: #d4be98;
  --gvb-black: #3c3836;
  --gvb-red: #ea6962;
  --gvb-green: #a9b665;
  --gvb-yellow: #d8a657;
  --gvb-blue: #7daea3;
  --gvb-magenta: #d3869b;
  --gvb-cyan: #89b482;
  --gvb-white: #d4be98;

  --gvb-gray: #665c54;
  --gvb-orange: #d65d03;

  --url-color: var(--gvb-cyan);

  --main-width: 60rem;
  --gutter-width: 4rem;
  --margin-width: 17rem;
  --body-width: calc(
    var(--main-width) + 2 * (var(--gutter-width) + var(--margin-width))
  );
}
html {
  font-size: 1rem;
}
body {
  background-color: var(--gvb-background);
  color: var(--gvb-foreground);
  line-height: 1.6;

  /* line-height: 1.4; */
  max-width: var(--body-width);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.9em;
  font-family: "Archivo Narrow", sans-serif;
}

a {
  color: var(--gvb-cyan);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--gvb-magenta);
  text-decoration: underline;
}
nav {
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}
nav li {
  display: inline;
}
nav li:not(:first-of-type)::before {
  content: " · ";
}
main {
  counter-reset: sidenote-counter;
  max-width: var(--main-width);
  margin: auto;
}
img {
  max-width: 100%;
}
#whoami.marginnote {
  color: var(--fg);
  margin-bottom: 1em;
}
img.avatar {
  border-radius: 5px;
  border: 1px solid #000;
  display: block;
  margin: auto;
}
dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.marginnote,
.marginblock,
.sidenote {
  font-size: smaller;
  position: relative;
  width: var(--margin-width);
  margin-bottom: 1em;
}
.note-right {
  margin-right: calc(-1 * (var(--margin-width) + var(--gutter-width)));
  float: right;
  clear: right;
}
.note-left {
  float: left;
  clear: left;
  margin-left: calc(-1 * (var(--margin-width) + var(--gutter-width)));
}
.footnote-p:not(:first-child) {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.footnote-p.narrow:not(:first-child) {
  margin-top: 0.15em;
}
input.margin-toggle {
  display: none;
}
input.margin-toggle {
  display: none;
}
label.sidenote-number {
  display: inline;
  /* counter-increment: sidenote-counter; */
}
label.margin-toggle:not(.sidenote-number) {
  display: none;
}
.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}
.sidenote-number {
  counter-increment: sidenote-counter;
}
.sidenote-number::after,
.sidenote::before
{
  /* counter-increment: sidenote-counter; */
  content: "❋";
   font-size:  40%;
  top: -1rem;
  color: var(--gvb-cyan);
}

.sidenote-number:after {
  left: -.7rem;
}

.sidenote::before {
  right: -.1rem;
}
pre {
  border-radius: 0.1em;
  border: 1px solid var(--gvb-foreground);
}
code.sourceCode {
  font-family: "Sono", monospace;
  display: block;
  overflow-x: auto;
  padding-left: 4em;
  font-size: 0.5em;
  text-align: left;
  min-height: 1.5em;

  padding-top: 3%;
  padding-bottom: 3%;
}
p code {
  background-color: rgba(175, 184, 193, 0.2);
}

/* larger screens */
@media (min-width: 899px) {
  .note-right {
    margin-left: calc(-1 * (var(--margin-width) + var(--gutter-width)));
    float: right;
    clear: right;
  }

  .note-left {
    float: left;
    clear: left;
    margin-left: calc(-1 * (var(--margin-width) + var(--gutter-width)));
  }

  :root {
    --body-width: calc(var(--main-width) + 1 * (var(--gutter-width)));
  }

  body {
    max-width: var(--body-width);
    margin-left: 20%;
    margin-right: auto;
  }
}

/* small devices */
@media (max-width: 900px) {
  body {
    padding: 2rem;
    margin: auto;
    display: block;
    font-size: 1.2em;
  }

  aside {
    width: var(--main-width);
    margin: auto;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .marginblock {
    display: block;
    float: right;
    clear: both;
    width: 95%;
    margin: 1rem 1rem;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  aside,
  div.code,
  pre {
    width: 100%;
  }

  .marginblock {
    text-align: center;
    margin-top: 0;
  }

  .full-only {
    display: none !important;
  }
}

header {
  border-bottom: solid var(--gvb-foreground) 2px;
}

/* 
* Syntax highlighting in code blocks
* s/o to https://stackoverflow.com/a/70805078
* */

pre > code.sourceCode {
  white-space: pre;
  position: relative;
}
pre > code.sourceCode > span {
  display: inline-block;
  line-height: 1.25;
}
pre > code.sourceCode > span:empty {
  height: 1.2em;
}
.sourceCode {
  overflow: visible;
}
code.sourceCode > span {
  color: inherit;
  text-decoration: inherit;
}
div.sourceCode {
  margin: 1em 0;
}
pre.sourceCode {
  margin: 0;
}
@media screen {
  div.sourceCode {
    overflow: auto;
  }
}
@media print {
  pre > code.sourceCode {
    white-space: pre-wrap;
  }
  pre > code.sourceCode > span {
    text-indent: -5em;
    padding-left: 5em;
  }
}
pre.numberSource code {
  counter-reset: source-line 0;
}
pre.numberSource code > span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
}
pre.numberSource code > span > a:first-child::before {
  content: counter(source-line);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2 4px;
  width: 4em;
  color: var(--gvb-gray);
}
pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid var(--gvb-gray);
  padding-left: 4px;
}
div.sourceCode {
}
@media screen {
  pre > code.sourceCode > span > a:first-child::before {
    text-decoration: underline;
  }
}
code span.al {
  color: var(--gvb-red);
  font-weight: bold;
} /* Alert */
code span.an {
  color: var(--gvb-white);
  font-weight: bold;
  font-style: italic;
} /* Annotation */
code span.at {
  color: var(--gvb-cyan);
} /* Attribute */
code span.bn {
  color: var(--gvb-magenta);
} /* BaseN */
code span.bu {
  color: var(--gvb-cyan);
} /* BuiltIn */
code span.cf {
  color: var(--gvb-cyan);
  font-weight: bold;
} /* ControlFlow */
code span.ch {
  color: var(--gvb-orange);
} /* Char */
code span.cn {
  color: var(--gvb-cyan);
} /* Constant */
code span.co {
  color: var(--gvb-white);
  font-style: italic;
} /* Comment */
code span.cv {
  color: var(--gvb-white);
  font-weight: bold;
  font-style: italic;
} /* CommentVar */
code span.do {
  color: #ba2121;
  font-style: italic;
} /* Documentation */
code span.dt {
  color: var(--gvb-yellow);
} /* DataType */
code span.dv {
  color: var(--gvb-magenta);
} /* DecVal */
code span.er {
  color: var(--gvb-red);
  font-weight: bold;
} /* Error */
code span.ex {
} /* Extension */
code span.fl {
  color: var(--gvb-magenta);
} /* Float */
code span.fu {
  color: var(--gvb-green);
} /* Function */
code span.im {
  color: var(--gvb-cyan);
  font-weight: bold;
} /* Import */
code span.in {
  color: var(--gvb-white);
  font-weight: bold;
  font-style: italic;
} /* Information */
code span.kw {
  color: var(--gvb-red);
  font-weight: bold;
} /* Keyword */
code span.op {
  color: var(--gvb-orange);
} /* Operator */
code span.ot {
  color: var(--gvb-cyan);
} /* Other */
code span.pp {
  color: var(--gvb-orange);
} /* Preprocessor */
code span.sc {
  color: var(--gvb-orange);
} /* SpecialChar */
code span.ss {
  color: var(--gvb-orange);
} /* SpecialString */
code span.st {
  color: var(--gvb-green);
} /* String */
code span.va {
  color: var(--gvb-white);
} /* Variable */
code span.vs {
  color: var(--gvb-orange);
} /* VerbatimString */
code span.wa {
  color: var(--gvb-white);
  font-weight: bold;
  font-style: italic;
} /* Warning */
