<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

<link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--
    <link rel = "icon" type = "image/x-icon" href = "">
-->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% block style %}
  {% if style is defined %}

  <style>
    {{ style }}
  </style>

  {% endif %}
  {% endblock %}

</head>

<body>
  <header id="page-header">
    <h1><a href="/">implicit.computer</a></h1>

      {% if quotes is defined %}
    <div id="quote-box">
      <p><em id="quote"></em></p>
    </div>

    {% endif %}
  </header>
  <br>


  <section id="page-content">
    {% block content required %}
    {% endblock %}
  </section>


  {% if quotes is defined %}
  <script>
    {#
    //const quotesJson = JSON.parse({{quotes_json| tojson }});
    #}

    const quoteElement = document.querySelector("#quote");
    const quotesArr = {{ quotes }}

    quoteElement.textContent = (() => {
     // const quotesArr = quotesJson["quotes"];
      console.table(quotesArr);
      let index = Math.floor(Math.random() * (quotesArr.length));
      console.log(quotesArr[index]);
      return quotesArr[index];
    })();

  </script>
  {% endif %}
</body>

</html>
