body {
  margin-left: 20%;
  margin-right: 20%;


}

table {
  table-layout: auto;
  width: auto;
  margin: auto;
  border: none;
}

td,
th {
  white-space: nowrap;
  text-align: left;
  border: none;
}
