<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block rss %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
{% endblock %}
  
  <link rel="stylesheet" href="/css/style.css">
    <title>{% block page_title %} implicit.computer {% endblock page_title %} </title>

    
</head>

<body>

  <header class="title-container">
    <div class="site-title-container container">
      <h1 class="site-title item">
        <a href="/" class="site-title-link">
          Implicit [Dot] Computer
        </a>
      </h1>
    </div>
    <div class="quote-container container">
      <i>
        <p class="dynamic-quote item"></p>
      </i>
    </div>
    <br>


    <div class="top-nav-container">
      <nav>

        <ul>
          {% for item in config.extra.header_nav %}
          <li>
            <a class="navbar-link" href="{{ item.url }}">
              {{ item.name }}
            </a>
          </li>

          {% endfor %}
        </ul>
      </nav>

    </div>
    <hr />
  </header>
  <br />
  <script defer type="text/javascript" src="/script.js"> </script>



  <main>
    {% block content %} {% endblock content %}
  </main>


  {% block footer %}


  {% endblock footer %}

</body>

</html>
