 
<p>
  Hello! I'm Keaton and this is my website. If you like it, consider clicking
  one of these links to look at other things I've made, and potentially hire me
  to make things like it for you.
</p>

<div id="page-links-list-container">
  <ul>

    <li>

<!--
      <div class="content-link">
        <span>
          <em class="main-page-link">
            <a href="/about"> About Me</a>
          </em>
          <span><p>I was born at a very young age</p></span>
        </span>
      </div>

-->

      <div class="content-link">
        <span>
          <em class="main-page-link">
            <a href="/resume">My Resume</a>
          </em>
        </span>
        <span><p>Have Thinkpad, will travel</p></span>
      </div>
    </li>

    <li>
      <div class="content-link">
        <em class="main-page-link">
          <a href="https://github.com/keagud">My GitHub</a>
        </em>

        <p>Projects I have made, or am currently making.</p>
      </div>
    </li>

    <li>
      <div class="content-link">
        <em class="main-page-link">
          <a href="/blog"> My Blog </a>
        </em>
        <p>Did you know "blog" is short for "web log"? Anyway, it's that.</p>
      </div>
    </li>
  </ul>
</div>

